@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assets/fonts/Poppins-SemiBold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets/fonts/Poppins-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Thin';
    src: url('../assets/fonts/Poppins-Thin.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.deliver{
    width: 100%;
    padding: 70px;
    gap: 20px;
    position:relative;
    background: url('../assets/icons/hero-bg.png') no-repeat center center; 
    background-size: cover; 
    background-attachment: fixed;
    background-color: rgb(3, 5, 15);
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}
.deliver h1{
    font-family: "Poppins-Bold";
    font-size: 42px;
    color: white;
}

.deliverables{
    width: 90%;
    gap: 20px;
}
.deliverables p {
    background-color: white;  /* Light background for readability */
    border: 1px solid #ccc;  /* Subtle border */
    padding: 20px;  /* Padding inside each box */
    border-radius: 10px;  /* Rounded corners for a softer look */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  /* Adds shadow for depth */
    font-size: 16px;  /* Ensures text is neither too big nor too small */
    line-height: 1.6;  /* Increases line height for better readability */
    text-align: justify;  /* Justifies text to fit the box neatly */
    font-family: "Poppins-Regular";
}