@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assets/fonts/Poppins-SemiBold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets/fonts/Poppins-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Thin';
    src: url('../assets/fonts/Poppins-Thin.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.digital-work{
    width: 100%;
    height: 100vh;
    padding: 70px 50px;
}
.digital-work div{
    width:50%;
}
.left-side{
    gap:20px;
    width: 100%;
}
.left-side div{
    width: 100%;
}
.left-side h1{
    font-family: "Poppins-Thin";
    font-size: 36px;
    color: black;
}
.left-side p{
    font-family: 'Poppins-Regular' ;
    font-size: 20px;
    color: #333333;
}

.accomplishments{
    justify-content: space-between;
    align-items: center;

}
.accomplishments div{
    width: 50%;
}
.left-col, .right-col{
    width: 100%;
    gap:15px;
    padding:20px 0px;
    align-items: center;

}
.left-col div, .right-col div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-right: 5px;
}

.left-col div > div, .right-col div > div{
    height: 70%;
    width: auto;
}
.left-col div > p , .right-col div > p{
    padding-right: 5px;
    font-family: "Poppins-Regular";
    font-size: 14px;
    color:  #333333;
}

.explore-button{
    width: 40%;
    background-color: #35BBDF;
    color:white;
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
}
