@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assets/fonts/Poppins-SemiBold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets/fonts/Poppins-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Thin';
    src: url('../assets/fonts/Poppins-Thin.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.solutions {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.solutions .solutions-text {
    padding: 50px;  
}

.solutions-part {
    padding: 0;  
    position: relative;
    background: url('../assets/icons/solutions-bg.png') no-repeat center center; 
    background-size: cover; 
    background-attachment: fixed;
}

.solutions-part h3{
    padding-left: 50px;
    font-family: "Poppins-Bold";
}
    

.solutions h1{
    font-family: "Poppins-Thin";
    font-size: 36px;
    color: black;
}
.solutions p{
    font-family: 'Poppins-Regular' ;
    font-size: 20px;
    color: #333333;
}
.solutions h3{
    font-family: 'Poppins-SemiBold';
    font-size: 25px;
    color: #000000;
}
.service-containers {
    display: flex;
    width: 100%;
    padding: 50px;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-grow: 1;
    max-width: 320px;
    min-width: 270px;
    background-color:white;
    border-radius: 25px;
    align-items: center;
    padding: 15px; 
    gap: 15px;
  }
  .card img{
    width: 30px;
    height: auto;
  }
  .card h4{
    font-family: 'Poppins-Regular';
    text-align: center;

  }
  .card p{
    font-family: 'Poppins-Regular';
    font-size: 13px;
    text-align: center;
  }