@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assets/fonts/Poppins-SemiBold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets/fonts/Poppins-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Thin';
    src: url('../assets/fonts/Poppins-Thin.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.partners {
    padding: 200px 50px 70px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.partners h1{
    font-family: "Poppins-Thin";
    font-size: 36px;
    color: black;
}
.reasons-partnership-containers{
    display: flex;
    width: 100%;
    padding: 50px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

.reasons-partnership-containers h3{
    font-family: 'Poppins-SemiBold';
    color: #35BBDF;
}

  .partners-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-grow: 1;
    max-width: 220px;
    min-width: 170px;
    background-color:transparent;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    padding: 10px 15px; 
    gap: 15px;
    border-right: 2px solid #ccc;
  }
  

  .partners-card p{
    font-family: 'Poppins-Regular';
    font-size: 13px;
    text-align: center;
  }

