@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assets/fonts/Poppins-SemiBold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets/fonts/Poppins-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Thin';
    src: url('../assets/fonts/Poppins-Thin.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.projects{
    width: 100%;
    height: 70vh;
    padding: 70px 70px;
    align-items: center;
    justify-content: space-between;

}
.projects div{
    width:50%;
}
.left-side-projects{
    gap:20px;
    width: 100%;
}

.left-side-projects h1{
    font-family: "Poppins-Thin";
    font-size: 36px;
    color: black;
}
.left-side-projects p{
    font-family: 'Poppins-Regular' ;
    font-size: 20px;
    color: #333333;
}
.highlight{
    color: #4D94E6;
    font-family: "Poppins-Bold";
}

.logos {
    width: 100%;
    flex-wrap: wrap;
    background-color: transparent;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    gap:40px;
}
.logos img{
    width: 90px;
    height: auto;
}
.learn-more-btn {
    background-color: transparent;
    color: black;
    font-family: 'Poppins-Regular';
}